

**1. What are data structures, and why are they important?**
>Data structures are ways of organizing and storing data for efficient access and modification.
They are crucial for writing efficient programs and solving complex problems effectively.
Examples include lists, stacks, queues, trees, and graphs.

---

**2. Explain the difference between mutable and immutable data types with examples.**
>Mutable types can be changed after creation (e.g., `list`, `dict`).
Immutable types cannot be modified (e.g., `tuple`, `str`).
Example: `list1 = [1, 2]` → can append; `tuple1 = (1, 2)` → cannot change values.

---

**3. What are the main differences between lists and tuples in Python?**
>Lists are mutable, while tuples are immutable.
Lists use square brackets `[ ]`, tuples use parentheses `( )`.
Tuples are faster and more memory-efficient than lists.

---

**4. Describe how dictionaries store data.**
>Dictionaries store data as key-value pairs.
Each key must be unique and is hashed to access its value efficiently.
Example: `{"name": "Alex", "age": 25}`

---

**5. Why might you use a set instead of a list in Python?**
>Sets automatically remove duplicate values and offer faster membership checks.
Use sets when you need uniqueness and don't care about order.
Example: `set([1, 2, 2, 3])` results in `{1, 2, 3}`.

---

**6. What is a string in Python, and how is it different from a list?**
>A string is a sequence of characters enclosed in quotes.
Strings are immutable, while lists can be modified.
Example: `"hello"` vs `['h', 'e', 'l', 'l', 'o']`.

---

**7. How do tuples ensure data integrity in Python?**
>Tuples are immutable, which means their data cannot be altered.
This ensures the contents remain constant, helping preserve data accuracy.
Used when fixed data is required.

---

**8. What is a hash table, and how does it relate to dictionaries in Python?**
>A hash table maps keys to values using a hash function.
Python dictionaries are implemented using hash tables.
This allows for fast data access using keys.

---

**9. Can lists contain different data types in Python?**
>Yes, Python lists can hold elements of different types.
Example: `[1, "hello", 3.5, True]` is valid.
This flexibility is a key feature of Python lists.

---

**10. Explain why strings are immutable in Python.**
>Strings are immutable to ensure memory efficiency and security.
Changing a string creates a new object in memory.
This design improves performance in many use cases.

---

**11. What advantages do dictionaries offer over lists for certain tasks?**
>Dictionaries provide fast lookups using keys, unlike lists which require searching.
They are ideal for tasks like storing user profiles or configurations.
Lists are better when order matters and no key-value structure is needed.

---

**12. Describe a scenario where using a tuple would be preferable over a list.**
>Use tuples when you want fixed data that shouldn't change, like (latitude, longitude).
They're also faster and can be dictionary keys.
Example: storing coordinates or RGB values.

---

**13. How do sets handle duplicate values in Python?**
>Sets automatically eliminate duplicate values.
Adding a duplicate has no effect.
Example: `set([1, 2, 2, 3])` becomes `{1, 2, 3}`.

---

**14. How does the “in” keyword work differently for lists and dictionaries?**
>In lists, `in` checks for values.
In dictionaries, `in` checks for keys by default.
Example: `"a" in [1, "a"]` → True; `"key" in {"key": 1}` → True.

---

**15. Can you modify the elements of a tuple? Explain why or why not.**
>No, tuples are immutable—you can't change, add, or remove elements after creation.
Attempting to do so raises an error.
Use tuples when you want data to remain constant.

---

**16. What is a nested dictionary, and give an example of its use case.**
>A nested dictionary contains dictionaries within a dictionary.
Used for representing complex data structures like JSON.
Example: `{"user": {"name": "Alex", "age": 25}}`

---

**17. Describe the time complexity of accessing elements in a dictionary.**
>Accessing dictionary elements has average time complexity **O(1)**.
This is due to hash-based lookups.
However, worst-case time can be **O(n)** in rare hash collision scenarios.

---

**18. In what situations are lists preferred over dictionaries?**
>Lists are better when order matters or when items don’t need a unique key.
Good for sequences, queues, or stacks.
Dictionaries are ideal for quick lookups with identifiable keys.

---

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
>Before Python 3.7, dictionaries didn’t preserve insertion order.
Now they do, but they're still accessed by key, not position.
Order doesn't affect retrieval time since access is via hashing.

---

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
>Lists retrieve data by index (e.g., `list[0]`), while dictionaries use keys (e.g., `dict["name"]`).
List retrieval is slower when searching for values.
Dictionaries allow direct access using keys for faster lookups.

In [2]:
#1)Write a code to create a string with your name and print it.

name = "Lekhani Tarone"
print(name)

Lekhani Tarone

In [3]:
#2. Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [4]:
#3) Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#4) Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [6]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
#6)Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
#8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
#9)Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])  # Index starts at 0

b

In [11]:
#10)Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [12]:
#11). Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Second-to-last element

blue

In [14]:
#13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [15]:
#14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
#15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)  # Will print True

True

In [17]:
#16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [18]:
#17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Prints: set()

set()

In [19]:
#18)Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
#19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
#20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
#21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 28, "city": "New York"}
print(person)

{'name': 'John', 'age': 28, 'city': 'New York'}

In [23]:
#22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
info = {'name': 'Alice', 'age': 30}
print(info["name"])

Alice

In [25]:
#24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del data["age"]
print(data)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
info = {'name': 'Alice', 'city': 'Paris'}
print("city" in info)  # Output: True

True

In [27]:
#26)Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

In [28]:
#27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted random numbers:", numbers)

Sorted random numbers: [27, 42, 48, 65, 96]

In [29]:
#28)Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", words[3])

Element at index 3: date

In [30]:
#29)Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print("Combined dictionary:", combined)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#30)Write a code to convert a list of strings into a set.
fruits = ["apple", "banana", "apple", "mango"]
unique_fruits = set(fruits)
print("Set from list:", unique_fruits)

Set from list: {'mango', 'banana', 'apple'}